.navbar {
  background: #373ab8;
  padding: 18px 32px;
  display: flex;
  gap: 32px;
}

.nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 12px;
  transition: text-decoration 0.2s, color 0.2s;
}

.nav-link:hover {
  text-decoration: underline;
  color: #dccb27;
}
